{% extends 'vuelos/base.html' %}
{% block contenido %}
<h2>Mis Reservas</h2>
{% if reservas %}
  <ul class="list-group">
    {% for r in reservas %}
      <li class="list-group-item">
        Vuelo {{ r.vuelo.origen }} → {{ r.vuelo.destino }} | Asiento: {{ r.asiento.numero }}<br>
        Fecha: {{ r.vuelo.fecha_salida }}<br>
        Código: <strong>{{ r.codigo_reserva }}</strong>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p class="text-muted">No tenés reservas todavía.</p>
{% endif %}
{% endblock %}
